body{
   font-family: Arial, sans-serif;

}
.main-container{
    display: flex;
    flex-direction: column;
}
.upper-container{
    text-align: center;
}
 .sub-heading{
    margin-top:7%;
    color: crimson;
 }
 .sup-heading{
    margin-top: 2.5%;
 }
 .lower-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
 }
 .point-img{
    width: 100px;
    height: 100px;
 }
 .para-bold-div{
    margin-top: 20px;
 }
 @media (max-width: 1200px) {
 .lower-container{
   width: 90%;
   height: 70%;
 }
 .upper-container{
   width: 90%;
   height: 70%;
 }
 }